In [51]:
# import  libraries
import pandas as pd # for working with dataframes
import numpy as np # for working with arrays and creating some visualisations and calculations
import matplotlib.pyplot as plt # for plotting 
import seaborn as sns # for some visualisations

In [62]:
# download the data set 
# 'names = []' will set the atributes for the datafrane
# Ref.[1] 
data = pd.read_csv("/Users/katelisovenko/Yandex.Disk.localized/kate/springboard/pands_project/iris/iris.data", names=['sep_length', 'sep_width', 'pet_length','pet_width','class'])
print(data.sample(10))

     sep_length  sep_width  pet_length  pet_width            class
65          6.7        3.1         4.4        1.4  Iris-versicolor
79          5.7        2.6         3.5        1.0  Iris-versicolor
10          5.4        3.7         1.5        0.2      Iris-setosa
50          7.0        3.2         4.7        1.4  Iris-versicolor
74          6.4        2.9         4.3        1.3  Iris-versicolor
63          6.1        2.9         4.7        1.4  Iris-versicolor
125         7.2        3.2         6.0        1.8   Iris-virginica
59          5.2        2.7         3.9        1.4  Iris-versicolor
44          5.1        3.8         1.9        0.4      Iris-setosa
122         7.7        2.8         6.7        2.0   Iris-virginica

In [53]:
data.describe()

       sep_length   sep_width  pet_length   pet_width
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000